body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#table-container
{
    display: grid;
    height: 1220px;
    width: 450px;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(61, 20px);
    font-size: 13px;
}

.row
{
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    grid-template-columns: repeat(2, 150px);
    background-color: rgb(147, 147, 147);
}

td
{
    text-align: center;
}

th, td
{
    border: 1px solid;
}
